.about-container {
  font-family: "Poppins", sans-serif;
  padding-bottom: 60px;
   margin-top: 80px;

}

/* HERO */
.about-hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(135deg, #4facc9, #3b82f6);
  color: white;
  animation: fadeDown 0.8s ease;
}

.about-hero h1 {
  font-size: 40px;
}

.about-hero span {
  color: #ffeb3b;
}

.about-hero p {
  max-width: 700px;
  margin: 15px auto 0;
  font-size: 16px;
  opacity: 0.95;
}

/* SECTIONS */
.about-section {
  padding: 60px 20px;
  text-align: center;
}

.about-section.light {
  background: #f4f6f8;
}

.about-section h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

/* CARDS */
.about-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.about-card {
  background: white;
  padding: 18px 22px;
  width: 260px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.12);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.about-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 18px 35px rgba(0,0,0,0.18);
}

/* TECH */
.about-tech {
  text-align: center;
  padding: 40px 20px;
  font-weight: 600;
  color: #334155;
}

/* ANIMATION */
@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
